global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # k6 will push metrics using Prometheus remote write, so no scrape target for k6 here.
